@font-face {
    font-family: 'Balthazar-Regular';
    /* Name your font family */
    src: url('fonts/Frutiger.ttf');
    /* Locate the .ttf file within your directory*/
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Balthazar-Regular', sans-serif;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    width: auto;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #011121;
    color: white;
    padding-top: 1.5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1.5%;
}

.nav-bar p {
    font-size: 20px;
}

.nav-bar div {
    display: flex;
    flex-direction: row;
}

.nav-bar-right {
    gap: 3rem;
    justify-content: space-between;
}

.nav-bar-left img {
    width: 30px;
    align-items: center;
}

.nav-bar-left p {
    margin-top: 3px;
}

.nav-bar-left {
    gap: 0.5rem;
}


.nav-bar-right p:hover {
    color: orange;
}


.hero {
    background-image: url('assets/bg.jpg');
    /* background-repeat: no-repeat;
    background-size:cover; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 5%;
    display: flex;
}

.hero-left {
    display: flex;
    flex-direction: column;
    margin: 10%;
    min-width: none;
    gap: 2rem;
    color: #deebeb;
    ;
}

span {
    color: orange;
}

.hero-left h1 {
    width: fit-content;
    font-weight: bolder;
    font-size: 70px;
}

.hero-left p {
    font-weight: bold;
    width: auto;
    line-height: 40px;
    font-size: 30px;
}


.hero-left h3 {
    font-size: 35px;

}

main {
    display: flex;
    flex-direction: column;
}

.skills-certificates {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    align-items: center;
    padding-bottom: 5%;
    background-color: #012d50;
}

.skills,
.certificates {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10rem;
}

.skills-images img,
.certificates img {
    padding: 20px;
}

.skills-certificates h1 {
    color: white;
}

.skills-images {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
    padding: 3%;
    border-radius: 5%;
    min-width: 500px;
    align-items: center;
}

.js {
    width: 130px;
    border-radius: 12px;
}

.html {
    width: 118px;
}

.css {
    width: 118px;
}

.dart {
    width: 118px;
}

.flutter {
    width: 118px;
}

.bash {
    width: 118px;
}

.django {
    width: 118px;
}

.python {
    width: 118px;
}

.git {
    width: 118px;
}

.contact-btn {
    padding: 2% 3% 2% 3%;
    border-radius: 10px;
    border: 0;
    width: 130px;
    height: 43px;
    background-color: #011121;
    color: rgb(32, 29, 116);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #1d2438;
    color: white;
}

.skills-certificates h1,
.latest-projects h1 {
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

.skills-title,
.certificates-title {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.skills-title img,
.certificates-title img {
    width: 70px;
    height: 45px;
}

.skills-title h2,
.certificates-title h2 {
    font-size: 30px;
}

.certificates {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 3%;
}

a {
    color: #011121;
    font-size: 16px;
    font-family: 'Balthazar-Regular', sans-serif;
}

.latest-projects {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: #133c7a;
}

.top-side,
.bottom-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-side div,
.bottom-side div {
    padding: 3%;
    margin: 20px;
    border-radius: 15px;
    background-color: #012d50;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 2% 5% 2% 5%;
    color: white;
    background-color: #011121;
    gap: 1rem;
}

.mySlides {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 25px;
}

.quick-links {
    display: flex;
    gap: 2rem;
    font-size: 20px;
}

.social-media-links {
    display: flex;
    gap: 1rem;
}

footer p {
    text-align: center;
}

.foundation-cybersecurity {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.foundation-cybersecurity img {
    display: block;
    width: 100%;
}

.foundation-cybersecurity button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


.certificates-slider {
    position: relative;
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
    padding: 3%;
    border-radius: 5%;
    align-items: center;

}

.certificates-slider img{
    display: none;
}

img.displaySlide{
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.prev{
    left: 0;
}
.next {
    right: 0;
}